
* {
    margin: 0;
}
body {
	width: auto;
	margin: 0px;
	font-family: PT Sans Narrow, Arial, sans-serif;
	color: #FFFFFF;
}

header {
	
}

nav {
	
	color: #FFFFFF;
	width: 597px;
	display: inline-block;

}

.navigation {
	list-style: none;
	font-size: 20px;
	font-weight: bold;
	padding: 0px;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 72px;
}

.navigation li {
	display: inline-block;
	margin-right: 38px;
	margin-top: 23px;
	margin-bottom: 23px;
}

.navigation li:nth-child(5) {
	margin-right: 0px;
}

.container {
	width: 960px;
	margin: 0px auto;
	padding: 0px 10px;
}

.container::after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	background: #000000;
	height: 72px;
}

.user-block {
	float: right;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	min-height: 50px;
	margin-top: 23px;
	margin-bottom: 23px;
}

.user-block a::before {
	content: url("images/icon-login.png");
	position: relative;
	top: 1px;
	right: 13px;
}

.navigation li a,
.user-block a {
	text-decoration: none;
	color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}
main {
	background: url("images/background.jpg");
	background-position: center top;
	height: 1268px;
	padding: 10px;

}

footer {
	height: 193px;
	background: #252525;
}

.logo-block {
	background: url("images/logo.png");
	height: 204px;
	width: 368px;
	margin: 0px auto;
	margin-top: 50px;
}

.features-item {
	display: inline-block;
	text-align: center;
	width: 300px;
}

.features-item b {
	font-size: 30px;
	display: inline-block;
	margin-bottom: 50px;

}

.features-item b::after {
	content: url("images/shape.png");
	display: block;
	margin-top: 17px;
}

.features-item p {
	font-size: 14px;
	font-weight: bold;
	font-kerning: normal;
	line-height: 24px;
	
}

.features-item:nth-child(1),
.features-item:nth-child(2) {
	float: left;
	margin-right: 20px;
}

.features-item:nth-child(3) {
	float: right;
}

